#danhsach {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
h1, h2 {
    text-align: center;
    color: blue;
}
.animal-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    height: 250px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.animal-card:hover {
    background-color: #ffbff9;
}

.animal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#thuvienanh {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
}
#thuvienanh img {
    border: 10px solid rgb(222, 0, 174);
    border-radius: 5px;
}

.gallery-item {
    width: 100%; 
    height: 250px; 
    object-fit: cover;    
    border: 3px solid #ff78e8; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}